<footer>
	<div class="footerBloc1">
		<div class="bloc-left">
			<img src="{{ asset('images/logo-blanc-transparent.png') }}" alt="Logo de l'AMCA">
		</div>
		<div class="bloc-right">
			<div class="list">
				<ul>
					<li><a href="{{ path('asso') }}">VIE DE L'ASSOCIATION</a></li>
					<li><a href="{{ path('pressReview') }}">REVUE DE PRESSE</a></li>
					<li><a href="{{ path('membership') }}">DEVENIR MEMBRE</a></li>
					<li><a href="{{ path('forum') }}">FORUM</a></li>
				</ul>
			</div>
			<div class="list">
				<ul>
					<li>
						<a href="https://www.ville-pornichet.fr" target="_blank">VILLE DE PORNICHET</a>
					</li>
					<li>
						<a href="https://www.ville-pornichet.fr/la-maison-des-associations" target="_blank">CENTRE
							CAMILLE FLAMMARION</a>
					</li>
					{% for presentation in presentations %}
					<li>
						<a href="{{ asset('uploads/' ~ presentation.statutesDoc) }}" download>STATUTS DE
							L'ASSOCIATION</a>
					</li>
					<li>
						<a href="{{ asset('uploads/' ~ presentation.internalRulesDoc) }}" download>RÈGLEMENT
							INTÉRIEUR</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footerBloc2">
		<div class="legals">
			<small>
				<a href="/politique-de-confidentialite" target="_blank">Politique de confidentialité</a>
				|
				<a href="/mentions-legales" target="_blank">Mentions légales</a>
			</small>
		</div>
		<div class="brand">
			<small>2023 |
				{% for presentation in presentations %}
				{{ presentation.presentationTitle }}
				{% endfor %}
				<a href="https://www.facebook.com/people/Asso-Amca/pfbid02EdV1ANoYryPtf92ef283uzQVkT3FkFBqWF7iVFTLVdYs3ekSrCyzNNhachXBRajBl/"
					target="_blank">
					<i class="fa-brands fa-facebook"></i>
				</a>
			</small>
		</div>
	</div>
</footer>