{% extends 'base.html.twig' %}

{% block title %}
	{{ futureTrip.futureTripName }}
	- Association AMCA 44
{% endblock %}

{% block body %}
	<header class="headerShow">
		<h1>{{ futureTrip.futureTripName }}</h1>
		<h2>Du
			{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y') : '' }}
			au
			{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y') : '' }}</h2>
		<h4 style="margin-bottom: 60px;">Budget à prévoir :
			{{ futureTrip.budget }}
			euros</h4>
	</header>

	<main class="mainShow">
		<div class="showLeft">
			<img src="{{ asset('uploads/images/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie">
			<div id="mapFutureTrip" class="mapFutureTrip"></div>
		</div>
		<div class="showRight">
			<p>{{ futureTrip.futureTripContent }}</p>
			<h4>Inscription</h4>
			<p>Nombre de places :
				{{ futureTrip.numberOfPlaces }}</p>
			<ul class="user-list">
				{% for user in futureTrip.users %}
					<li>{{ user.firstName ~ ' ' ~ user.lastName }}</li>
				{% endfor %}
			</ul>
			<a href="{{ path('app_contacts_new') }}" class="button">S'inscrire</a>
		</div>
	</main>
	{% include "_partials/_footer.html.twig" %}

	<!--JAVASCRIPT-->
	<script>
		// Display map for the specific future trip
var mapFutureTrip = L.map('mapFutureTrip').setView([
{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}
], 8);

var futureTripMarker = L.marker([{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}]).addTo(mapFutureTrip);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19,
attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(mapFutureTrip);

futureTripMarker.bindPopup("Voyage prévu :    {{ futureTrip.futureTripName }}du   {{ futureTrip.startDate | date('d-m-Y') }}au   {{ futureTrip.endDate | date('d-m-Y') }}");
	</script>
{% endblock %}
