{% extends 'base.html.twig' %}

{% block title %}Nouvel adhérent
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}

	<div class="loginForm">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<h2>Nouvel adhérent</h2>

		{{ form_start(registrationForm) }}

		<div class="bloc">
			<label for="{{ registrationForm.memberNumber.vars.id }}">Numéro adhérent</label>
			{{ form_widget(registrationForm.memberNumber, {
                attr: {
                    'class': 'custom-form',
                    'placeholder': '2024/01'
                }
            }) }}

			<label for="{{ registrationForm.assignment.vars.id }}">Profil</label>
			{{ form_widget(registrationForm.assignment, {
            }) }}
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.firstName.vars.id }}">Prénom</label>
			{{ form_widget(registrationForm.firstName, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}

			<label for="{{ registrationForm.lastName.vars.id }}">Nom</label>
			{{ form_widget(registrationForm.lastName, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.email.vars.id }}">E-mail</label>
			{{ form_widget(registrationForm.email, {
                attr: {
                    'class': 'custom-form',
                    'placeholder': 'exemple@exemple.com'
                }
            }) }}

			<label for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe</label>
			<div class="password-toggle">
				{{ form_widget(registrationForm.plainPassword, {
            'attr': {
                'id': 'registration_form_plainPassword',
                'name': 'registrationPassword',
                'class': 'form-control',
                'autocomplete': 'new-password',
                'required': 'required'
            }
        }) }}
				<span class="toggle-password">Afficher</span>
			</div>
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.phoneNumber.vars.id }}">Téléphone</label>
			{{ form_widget(registrationForm.phoneNumber, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.address.vars.id }}">Adresse</label>
			{{ form_widget(registrationForm.address, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}

			<label for="{{ registrationForm.postCode.vars.id }}">Code Postal</label>
			{{ form_widget(registrationForm.postCode, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}

			<label for="{{ registrationForm.city.vars.id }}">Ville</label>
			{{ form_widget(registrationForm.city, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.birthdate.vars.id }}">Date de naissance</label>
			{{ form_widget(registrationForm.birthdate, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}
		</div>

		<div class="bloc">
			<label for="{{ registrationForm.bike.vars.id }}">Moto</label>
			{{ form_widget(registrationForm.bike, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}
		</div>

		<div class="blocActions">
			<button type="submit" class="button">Valider</button>
			<a class="button" href="{{ path('home') }}">Retour</a>
		</div>
		{{ form_end(registrationForm) }}
	</div>

	<script src="{{ asset('js/togglePasswordRegister.js') }}"></script>
	<script src="{{ asset('js/alerts.js') }}"></script>
{% endblock %}
