{% extends 'base.html.twig' %}

{% block title %}Page administration
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section>
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<div class="dashboardBloc">
				<h1>Tableau de bord</h1>

				{% for presentation in presentations %}
					<div class="presentation">
						<div class="bloc-up">
							<div class="pres-bloc asso-pic">
								<p>Nom de l'association
									<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</p>
								<p class="description">
									<strong>{{ presentation.presentationTitle }}</strong>
								</p>
								<img loading="lazy" src="{{ asset('uploads/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs">
							</div>
							<div class="pres-bloc asso-text">
								<p>Texte de présentation
									<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</p>
								<p class="description">{{ presentation.presentationContent }}</p>
							</div>
							<div class="bloc">
								<div class="pres-bloc asso-logo">
									<p>Logo
										<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
											<i class="fa-solid fa-pencil icon"></i>
										</a>
									</p>
									<img loading="lazy" src="{{ asset('uploads/' ~ presentation.logo) }}" alt="Logo de l'association" width="140" height="200" style="background-color:white;">
								</div>
								<div class="pres-bloc asso-fee">
									{% for membership in memberships %}
										<p>Cotisations
											<a href="{{ path('app_memberships_edit', {'id': membership.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
												<i class="fa-solid fa-pencil icon icon-small"></i>
											</a>
										</p>
										<small>Conducteur :
											{{ membership.driverFee }}
											€</small>
										<small style="margin-top:10px;">Passager :
											{{ membership.passengerFee }}
											€</small>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="bloc-down">
							<p>Raisons d'être de l'association
								<a href="{{ path('app_purposes_new') }}" title="Nouveau" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-plus icon"></i>
								</a>
							</p>
							{% for purpose in purposes %}
								<p class="description">{{ purpose.purposeContent }}
									<a href="{{ path('app_purposes_edit', {'id': purpose.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon icon-small"></i>
									</a>
								</p>
							{% endfor %}
						</div>
						<div class="pres-bloc asso-docs">
							<p>Documents</p>
							<div class="docs">
								<div class="doc">
									<small>Statuts
										<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
											<i class="fa-solid fa-pencil icon icon-small"></i>
										</a>
									</small>
									<embed src="{{ asset('uploads/' ~ presentation.statutesDoc) }}" width="180" height="255" type="application/pdf">
								</div>
								<div class="doc">
									<small>Règlement
										<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
											<i class="fa-solid fa-pencil icon icon-small"></i>
										</a>
									</small>
									<embed src="{{ asset('uploads/' ~ presentation.internalRulesDoc) }}" width="180" height="255" type="application/pdf">
								</div>
								<div class="doc">
									{% for membership in memberships %}
										<small>Bulletin d'adhésion
											<a href="{{ path('app_memberships_edit', {'id': membership.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
												<i class="fa-solid fa-pencil icon icon-small"></i>
											</a>
										</small>
										<embed src="{{ asset('uploads/' ~ membership.membershipForm) }}" width="180" height="255" type="application/pdf">
									{% endfor %}
								</div>
								<div class="doc">
									{% for membership in memberships %}
										<small>Trombinoscope
											<a href="{{ path('app_memberships_edit', {'id': membership.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
												<i class="fa-solid fa-pencil icon icon-small"></i>
											</a>
										</small>
										<embed src="{{ asset('uploads/' ~ membership.trombinoscope) }}" width="180" height="255" type="application/pdf">
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				{% for meeting in meetings %}
					<div class="asso-meet">
						<p>Prochaine réunion
							<a href="{{ path('app_meetings_edit', {'id': meeting.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
								<i class="fa-solid fa-pencil icon"></i>
							</a>
						</p>
						<div class="meet-blocs">
							<div class="meet-bloc">
								<p>Date : le
									{{ meeting.meetingDate ? meeting.meetingDate|date('d-m-Y à H:i') : '' }}</p>
								<p>Photo de la salle :</p>
								<img loading="lazy" src="{{ asset('uploads/' ~ meeting.meetingPicture) }}" alt="Photo de la salle de réunion">
							</div>
							<div class="meet-bloc">
								<p>Adresse :</p>
								<p>{{ meeting.meetingAddress }}</p>

								<small style="text-decoration: underline;">Données pour générer la carte</small>
								<small>Longitude :
									{{ meeting.meetingLon }}</small>
								<small>Latitude :
									{{ meeting.meetingLat }}</small>
							</div>
							<div class="meet-bloc">
								<p>Description :</p>
								<p class="description">{{ meeting.meetingContent }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				<div class="otherClub">
					<p>Club jumelé
						<a href="{{ path('app_other_club_new') }}" title="Nouveau" data-bs-toggle="tooltip" data-bs-placement="right">
							<i class="fa-solid fa-plus icon"></i>
						</a>
					</p>
					{% for other_club in other_clubs %}
						<p style="margin-top: 15px;">Nom du club
							<a href="{{ path('app_other_club_edit', {'id': other_club.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
								<i class="fa-solid fa-pencil icon"></i>
							</a>
						</p>
						<p class="description">
							{{ other_club.otherClubTitle }}
						</p>
						<p>Description :</p>
						<p class="description">{{ other_club.otherClubContent }}</p>
						<div class="pic">
							<p>Photo :</p>
							<img loading="lazy" src="{{ asset('uploads/' ~ other_club.otherClubPicture) }}" alt="Photo du club jumelé">
						</div>
						<p>Site internet :</p>
						<p class="description">
							{{ other_club.otherClubWebsite }}
						</p>
					{% endfor %}
				</div>
			</div>

			<div class="dashboardBloc">
				<h1>Sorties précédentes
					<a href="{{ path('app_previous_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-previous-trips">
					{% for previous_trip in previous_trips %}
						<div class="tripCard" style="justify-content: space-between;">
							<div class="header">
								<h1>{{ previous_trip.previousTripName }}</h1>
							</div>
							<div class="body">
								<p class="description">{{ previous_trip.previousTripContent }}</p>
							</div>
							<div class="actions">
								<a href="{{ path('app_trip_pictures_index') }}" title="Bibliothèque d'images" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-image icon"></i>
								</a>
								<a href="{{ path('app_previous_trips_edit', {'id': previous_trip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="dashboardBloc">
				<h1>Sorties à venir
					<a href="{{ path('app_future_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-future-trips">
					{% for futureTrip in futureTrips %}
						<div class="each-trip">
							<h1>{{ futureTrip.futureTripName }}
								<a href="{{ path('app_future_trips_edit', {'id': futureTrip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</h1>
							<div class="pic-infos">
								<img loading="lazy" src="{{ asset('uploads/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie">
								<div class="infos">
									<small>Dates : du
										{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y à H:i') : '' }}
										au
										{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y à H:i') : '' }}</small>
									<small class="spaced">Budget à prévoir :
										{{ futureTrip.budget }}
										euros</small>
									<small class="spaced" style="text-decoration: underline;">Données pour générer la carte</small>
									<small>Longitude :
										{{ futureTrip.futureTripLon }}</small>
									<small>Latitude :
										{{ futureTrip.futureTripLat }}</small>
								</div>
							</div>
							<p>Description de la sortie :</p>
							<p class="description">{{ futureTrip.futureTripContent }}</p>
							{% if futureTrip.presentationSheet is not null %}
								<p>Fiche de présentation :</p>
								<embed src="{{ asset('uploads/' ~ futureTrip.presentationSheet) }}" width="180" height="255" type="application/pdf">
							{% endif %}
							<div class="places">
								<small>Nombre de places :
									{{ futureTrip.numberOfPlaces }}</small>
								<small class="spaced">Adhérents inscrits :
									<ul class="user-list">
										{% for user in futureTrip.users %}
											<li>{{ user.firstName ~ ' ' ~ user.lastName }}</li>
										{% endfor %}
									</ul>
								</small>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
{% endblock %}
