{% extends 'base.html.twig' %}

{% block title %}Association AMCA 44
{% endblock %}

{% block body %}
	<header class="headerIndex">
		{% for presentation in presentations %}
			<h1>{{ presentation.presentationTitle }}</h1>
		{% endfor %}
		{% include "_partials/_navbar.html.twig" %}
	</header>

	<main>

		<!--OUR STORY-->
		<section id="our-story">
			{% for presentation in presentations %}
				<div class="story-picture animate-from-left">
					<img loading="lazy" src="{{ asset('uploads/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs">
				</div>
				<div class="story-text animate-from-right">
					<h2>Notre histoire</h2>
					<p>{{ presentation.presentationContent }}</p>
				</div>
			{% endfor %}
		</section>

		<!--OUR PURPOSES-->
		<section id="our-purposes">
			<h2>Nos raisons d'être</h2>
			<div class="our-purposes">
				{% for purpose in purposes %}
					<div class="purpose">
						<p>
							<strong>{{ purpose.purposeContent }}</strong>
						</p>
					</div>
				{% endfor %}
			</div>
		</section>

		<!--PREVIOUS TRIPS-->
		<section id="our-previous-trips">
			<h2>Nos précédentes sorties</h2>
			<div class="previous-trips">
				{% for previous_trip in previous_trips %}
					<div class="previous-trip">
						<div class="previous-trip-picture">
							<div id="carousel{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									{% for tripPicture in previous_trip.getTripPictures() %}
										<div class="carousel-item{% if loop.first %} active{% endif %}">
											<img loading="lazy" src="{{ asset('uploads/' ~ tripPicture.tripPicture) }}" class="d-block" alt="Photo d'une sortie effectuée précédemment">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="previous-trip-text">
							<h3>{{ previous_trip.previousTripName }}</h3>
							<p>{{ previous_trip.previousTripContent }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

		<!--CONTACT-->
		<section id="contact-us">
			<p class="contactIndex">Envie de nous rejoindre ?</p>
			<a href="{{ path('app_contacts_new') }}" class="buttonIndex">Contactez-nous !</a>
		</section>

	</main>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
