{% extends 'base.html.twig' %}

{% block title %}Page administration
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section class="row mx-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<div class="dashboardTitle">
				<h1>Tableau de bord</h1>
			</div>

			<div class="dashboardBloc">
				{% for presentation in presentations %}
					<div class="presentation">
						<div class="pres-bloc asso-pic">
							<p>Nom de l'association
								<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</p>
							<p class="description">
								<strong>{{ presentation.presentationTitle }}</strong>
							</p>
							<img src="{{ asset('uploads/images/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs">
						</div>
						<div class="pres-bloc asso-text">
							<p>Texte de présentation
								<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</p>
							<p class="description">{{ presentation.presentationContent }}</p>
						</div>
						<div class="pres-bloc asso-logo">
							<p>Logo
								<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</p>
							<img src="{{ asset('uploads/images/' ~ presentation.logo) }}" alt="Logo de l'association" width="140px" height="200px" style="background-color:white;">
						</div>
						<div class="pres-bloc asso-docs">
							<p>Documents
								<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</p>
							<small>Statuts :</small><embed src="{{ asset('uploads/images/' ~ presentation.statutesDoc) }}" width="180px" height="175px" type="application/pdf">
							<small style="margin-top:10px;">Règlement :</small><embed src="{{ asset('uploads/images/' ~ presentation.internalRulesDoc) }}" width="180px" height="175px" type="application/pdf">
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				<h1>Nos raisons d'être
					<a href="{{ path('app_purposes_new') }}" title="Nouveau" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				{% for purpose in purposes %}
					{{ purpose.purposeContent }}

					<a href="{{ path('app_purposes_edit', {'id': purpose.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-pencil icon"></i>
					</a>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				<h1>Devenir membre</h1>

				{% for membership in memberships %}

					<embed src="{{ asset('uploads/images/' ~ membership.membershipForm) }}" width="200px" type="application/pdf">

					{{ membership.driverFee }}
					euros
					{{ membership.passengerFee }}
					euros

					<a href="{{ path('app_memberships_edit', {'id': membership.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-pencil icon"></i>
					</a>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				<h1>Prochaine réunion</h1>

				{% for meeting in meetings %}
					{{ meeting.meetingDate ? meeting.meetingDate|date('d-m-Y à H:i') : '' }}
					<img src="{{ asset('uploads/images/' ~ meeting.meetingPicture) }}" alt="Photo de la salle de réunion">
					{{ meeting.meetingAddress }}
					{{ meeting.meetingLon }}
					{{ meeting.meetingLat }}
					{{ meeting.meetingContent }}

					<a href="{{ path('app_meetings_edit', {'id': meeting.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-pencil icon"></i>
					</a>
				{% endfor %}
			</div>

			<div class="dashboardBloc">
				<h1>Sorties précédentes
					<a href="{{ path('app_previous_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-previous-trips">
					{% for previous_trip in previous_trips %}
						<div class="tripCard" style="justify-content: space-between;">
							<div class="header">
								<h1>{{ previous_trip.previousTripName }}</h1>
							</div>
							<div class="body">
								<p class="description">{{ previous_trip.previousTripContent }}</p>
							</div>
							<div class="actions">
								<a href="{{ path('app_trip_pictures_index') }}" title="Bibliothèque d'images" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-image icon"></i>
								</a>
								<a href="{{ path('app_previous_trips_edit', {'id': previous_trip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="dashboardBloc">
				<h1>Sorties à venir
					<a href="{{ path('app_future_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-future-trips">
					{% for futureTrip in futureTrips %}
						<div class="each-trip">
							<h1>{{ futureTrip.futureTripName }}
								<a href="{{ path('app_future_trips_edit', {'id': futureTrip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</h1>
							<div class="pic-infos">
								<img src="{{ asset('uploads/images/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie">
								<div class="infos">
									<small>Dates : du
										{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y à H:i') : '' }}
										au
										{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y à H:i') : '' }}</small>
									<small class="spaced">Budget à prévoir :
										{{ futureTrip.budget }}
										euros</small>
									<small class="spaced" style="text-decoration: underline;">Données pour générer la carte</small>
									<small>Longitude :
										{{ futureTrip.futureTripLon }}</small>
									<small>Latitude :
										{{ futureTrip.futureTripLat }}</small>
								</div>
							</div>
							<p>Description de la sortie :</p>
							<p class="description">{{ futureTrip.futureTripContent }}</p>
							<div class="places">
								<small>Nombre de places :
									{{ futureTrip.numberOfPlaces }}</small>
								<small class="spaced">Adhérents inscrits :
									<ul class="user-list">
										{% for user in futureTrip.users %}
											<li>{{ user.firstName ~ ' ' ~ user.lastName }}</li>
										{% endfor %}
									</ul>
								</small>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
{% endblock %}
