{% extends 'base.html.twig' %}

{% block title %}Page administration
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section class="row mx-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<div class="dashboardBloc">
				<h1>Présentation</h1>

				<table>
					<thead>
						<tr>
							<th>Titre</th>
							<th>Image</th>
							<th>Contenu</th>
							<th>Logo</th>
							<th>Statuts</th>
							<th>Règlement intérieur</th>
							<th>Modifier</th>
						</tr>
					</thead>
					<tbody>
						{% for presentation in presentations %}
							<tr>
								<td data-label="Titre :">{{ presentation.presentationTitle }}</td>
								<td data-label="Image :"><img src="{{ asset('uploads/images/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs"></td>
								<td data-label="Contenu :">{{ presentation.presentationContent }}</td>
								<td data-label="Logo :"><img src="{{ asset('uploads/images/' ~ presentation.logo) }}" alt="Logo de l'association" style="width: 140px; height: 200px"></td>
								<td data-label="Statuts :"><embed src="{{ asset('uploads/images/' ~ presentation.statutesDoc) }}" width="200px" type="application/pdf"></td>
								<td data-label="Règlement intérieur :"><embed src="{{ asset('uploads/images/' ~ presentation.internalRulesDoc) }}" width="200px" type="application/pdf"></td>
								<td data-label="Modifier :">
									<a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="dashboardBloc">
				<h1>Nos raisons d'être
					<a href="{{ path('app_purposes_new') }}" title="Nouveau" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<table>
					<thead>
						<tr>
							<th>Contenu</th>
							<th>Modifier</th>
						</tr>
					</thead>
					<tbody>
						{% for purpose in purposes %}
							<tr>
								<td data-label=" contenu :">{{ purpose.purposeContent }}</td>
								<td data-label="Modifier :">
									<a href="{{ path('app_purposes_edit', {'id': purpose.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="dashboardBloc">
				<h1>Devenir membre</h1>

				<table>
					<thead>
						<tr>
							<th>Bulletin d'adhésion</th>
							<th>Cotisation conducteur</th>
							<th>Cotisation passager</th>
							<th>Modifier</th>
						</tr>
					</thead>
					<tbody>
						{% for membership in memberships %}
							<tr>
								<td data-label="Bulletin d'adhésion :">
									<embed src="{{ asset('uploads/images/' ~ membership.membershipForm) }}" width="200px" type="application/pdf">
								</td>
								<td data-label="Cotisation conducteur :">{{ membership.driverFee }}
									euros</td>
								<td data-label="Cotisation passager :">{{ membership.passengerFee }}
									euros</td>
								<td data-label="Modifier :">
									<a href="{{ path('app_memberships_edit', {'id': membership.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="dashboardBloc">
				<h1>Prochaine réunion</h1>

				<table>
					<thead>
						<tr>
							<th>Date et Heure</th>
							<th>Photo de la salle</th>
							<th>Adresse</th>
							<th>Longitude</th>
							<th>Latitude</th>
							<th>Description</th>
							<th>Modifier</th>
						</tr>
					</thead>
					<tbody>
						{% for meeting in meetings %}
							<tr>
								<td data-label="Date et Heure :">{{ meeting.meetingDate ? meeting.meetingDate|date('d-m-Y à H:i') : '' }}</td>
								<td data-label="Photo de la salle :"><img src="{{ asset('uploads/images/' ~ meeting.meetingPicture) }}" alt="Photo de la salle de réunion"></td>
								<td data-label="Adresse :">{{ meeting.meetingAddress }}</td>
								<td data-label="Longitude :">{{ meeting.meetingLon }}</td>
								<td data-label="Latitude :">{{ meeting.meetingLat }}</td>
								<td data-label="Description :" class="tdLarger">{{ meeting.meetingContent }}</td>
								<td data-label="Modifier :">
									<a href="{{ path('app_meetings_edit', {'id': meeting.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="dashboardBloc">
				<h1>Sorties précédentes
					<a href="{{ path('app_previous_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-previous-trips">
					{% for previous_trip in previous_trips %}
						<div class="tripCard" style="justify-content: space-between;">
							<div class="header">
								<h1>{{ previous_trip.previousTripName }}</h1>
							</div>
							<div class="body">
								<p class="description">{{ previous_trip.previousTripContent }}</p>
							</div>
							<div class="actions">
								<a href="{{ path('app_trip_pictures_index') }}" title="Bibliothèque d'images" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-image icon"></i>
								</a>
								<a href="{{ path('app_previous_trips_edit', {'id': previous_trip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="dashboardBloc">
				<h1>Sorties à venir
					<a href="{{ path('app_future_trips_new') }}" title="Nouvelle sortie" data-bs-toggle="tooltip" data-bs-placement="right">
						<i class="fa-solid fa-plus icon" style="font-size: 30px"></i>
					</a>
				</h1>

				<div class="all-future-trips">
					{% for futureTrip in futureTrips %}
						<div class="each-trip">
							<h1>{{ futureTrip.futureTripName }}
								<a href="{{ path('app_future_trips_edit', {'id': futureTrip.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</h1>
							<div class="pic-infos">
								<img src="{{ asset('uploads/images/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie">
								<div class="infos">
									<small>Dates : du
										{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y à H:i') : '' }}
										au
										{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y à H:i') : '' }}</small>
									<small class="spaced">Budget à prévoir :
										{{ futureTrip.budget }}
										euros</small>
									<small class="spaced" style="text-decoration: underline;">Données pour générer la carte</small>
									<small>Longitude :
										{{ futureTrip.futureTripLon }}</small>
									<small>Latitude :
										{{ futureTrip.futureTripLat }}</small>
								</div>
							</div>
							<p>Description de la sortie :</p>
							<p class="description">{{ futureTrip.futureTripContent }}</p>
							<div class="places">
								<small>Nombre de places :
									{{ futureTrip.numberOfPlaces }}</small>
								<small class="spaced">Adhérents inscrits :
									<ul class="user-list">
										{% for user in futureTrip.users %}
											<li>{{ user.firstName ~ ' ' ~ user.lastName }}</li>
										{% endfor %}
									</ul>
								</small>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
{% endblock %}
