{% extends 'base.html.twig' %}

{% block title %}Page administration
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<main>
		<section class="row mr-0 ml-0" style="background-color:#343A40;">
			{% include "_partials/_sidebar.html.twig" %}

			<div class="col-md-10">
				<div class="row mr-0 ml-0">
					<div class="col-md-12">
						<h2>Présentation</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Titre</th>
									<th>Image</th>
									<th>Contenu</th>
									<th>Logo</th>
									<th>Statuts</th>
									<th>Règlement intérieur</th>
								</tr>
							</thead>
							<tbody>
								{% for presentation in presentations %}
									<tr>
										<td>{{ presentation.presentationTitle }}</td>
										<td><img src="{{ asset('uploads/images/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs" width="200px"></td>
										<td>{{ presentation.presentationContent }}</td>
										<td><img src="{{ asset('uploads/images/' ~ presentation.logo) }}" alt="Logo de l'association" width="200px"></td>
										<td><embed src="{{ asset('uploads/images/' ~ presentation.statutesDoc) }}" height="300px" type="application/pdf"></td>
										<td><embed src="{{ asset('uploads/images/' ~ presentation.internalRulesDoc) }}" height="300px" type="application/pdf"></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row mr-0 ml-0">
					<div class="col-md-6">
						<h2>Nos raisons d'être</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Contenu</th>
								</tr>
							</thead>
							<tbody>
								{% for purpose in purposes %}
									<tr>
										<td>{{ purpose.purposeContent }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<h2>Devenir membre</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Bulletin d'adhésion</th>
									<th>Cotisation conducteur</th>
									<th>Cotisation passager</th>
								</tr>
							</thead>
							<tbody>
								{% for membership in memberships %}
									<tr>
										<td>
											<embed src="{{ asset('uploads/images/' ~ membership.membershipForm) }}" height="300px" type="application/pdf">
										</td>
										<td>{{ membership.driverFee }}
											euros</td>
										<td>{{ membership.passengerFee }}
											euros</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row mr-0 ml-0">
					<div class="col-md-6">
						<h2>Prochaine réunion</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Date et Heure</th>
									<th>Photo de la salle</th>
									<th>Adresse</th>
									<th>Longitude</th>
									<th>Latitude</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								{% for meeting in meetings %}
									<tr>
										<td>{{ meeting.meetingDate ? meeting.meetingDate|date('d-m-Y à H:i') : '' }}</td>
										<td><img src="{{ asset('uploads/images/' ~ meeting.meetingPicture) }}" alt="Photo de la salle de réunion" width="200px"></td>
										<td>{{ meeting.meetingAddress }}</td>
										<td>{{ meeting.meetingLon }}</td>
										<td>{{ meeting.meetingLat }}</td>
										<td>{{ meeting.meetingContent }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<h2>Messages reçus</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Nom</th>
									<th>Email</th>
									<th>Message</th>
									<th>Supprimer</th>
								</tr>
							</thead>
							<tbody>
								{% for contact in contacts %}
									<tr>
										<td>{{ contact.contactName }}</td>
										<td>{{ contact.contactMail }}</td>
										<td>{{ contact.contactMessage }}</td>
										<td>
											{{ include('contacts/_delete_form.html.twig') }}
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="5">Aucun nouveau message</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row mr-0 ml-0">
					<div class="col-md-6">
						<h2>Sorties précédentes</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Nom de la sortie</th>
									<th>Photos</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								{% for previous_trip in previous_trips %}
									<tr>
										<td>{{ previous_trip.previousTripName }}</td>
										<td>
											{% for tripPicture in previous_trip.getTripPictures() %}
												<img src="{{ asset('uploads/images/' ~ tripPicture.tripPicture) }}" alt="Photo de la sortie" width="200px">
											{% endfor %}
										</td>
										<td>{{ previous_trip.previousTripContent }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<h2>Futures sorties</h2>

						<table class="table-responsive">
							<thead>
								<tr>
									<th>Nom de la sortie</th>
									<th>Photo</th>
									<th>Date de départ</th>
									<th>Date de retour</th>
									<th>Budget à prévoir</th>
									<th>Description</th>
									<th>Longitude</th>
									<th>Latitude</th>
									<th>Nb de places</th>
									<th>Adhérents inscrits</th>
								</tr>
							</thead>
							<tbody>
								{% for futureTrip in futureTrips %}
									<tr>
										<td>{{ futureTrip.futureTripName }}</td>
										<td><img src="{{ asset('uploads/images/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie" width="200px"></td>
										<td>{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y à H:i') : '' }}</td>
										<td>{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y à H:i') : '' }}</td>
										<td>{{ futureTrip.budget }}
											euros</td>
										<td>{{ futureTrip.futureTripContent }}</td>
										<td>{{ futureTrip.futureTripLon }}</td>
										<td>{{ futureTrip.futureTripLat }}</td>
										<td>{{ futureTrip.numberOfPlaces }}</td>
										<td>
											<ul>
												{% for user in futureTrip.users %}
													<li>{{ user.firstName ~ ' ' ~ user.lastName }}</li>
												{% endfor %}
											</ul>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</section>
	</main>
{% endblock %}
