{% extends 'base.html.twig' %}

{% block title %}Association AMCA 44
{% endblock %}


{% block body %}

	    <div id="mapMeetings"></div>

    {% for futureTrip in futureTrips %}
        <h2>{{ futureTrip.futureTripName }}</h2>
	    <div id="mapFutureTrips{{ loop.index }}" class="mapFutureTrips"></div>
    {% endfor %}


	<script>
    // Display map for monthly meetings
		{% for meeting in meetings %}
        var mapMeetings = L.map('mapMeetings').setView([{{ meeting.meetingLon }}, {{ meeting.meetingLat }}], 15);

        var meetingMarker = L.marker([{{ meeting.meetingLon }}, {{ meeting.meetingLat }}]).addTo(mapMeetings);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(mapMeetings);
        
        meetingMarker.bindPopup("Réunion le {{ meeting.meetingDate | date('d-m-Y H:i') }} à {{ meeting.meetingAddress }}");
        {% endfor %}

    // Display maps for future trips
        {% for futureTrip in futureTrips %}
        var mapFutureTrips = L.map('mapFutureTrips{{ loop.index }}').setView([{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}], 8);

        var futureTripMarker = L.marker([{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}]).addTo(mapFutureTrips);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mapFutureTrips);

        futureTripMarker.bindPopup("Voyage prévu : {{ futureTrip.futureTripName }} du {{ futureTrip.startDate | date('d-m-Y') }} au {{ futureTrip.endDate | date('d-m-Y') }}");
        {% endfor %}
	</script>

{% endblock %}
