{% extends 'base.html.twig' %}

{% block title %}Association AMCA 44
{% endblock %}

{% block body %}
	<header class="headerPages">
		<h1>Forum de l'association</h1>
		{% include "_partials/_navbar.html.twig" %}
	</header>

	<main class="mainForum">
		{% for theme in themes %}
			<section class="forum">
				<h2>{{ theme.themeTitle }}
					<a href="{{ path('app_themes_edit', {'id': theme.id}) }}">
						<i class="fa-solid fa-pencil"></i>
					</a>
				</h2>

				{% for post in theme.post %}
					<h4>{{ post.postTitle }}<a href="{{ path('app_posts_edit', {'id': post.id}) }}">
							<i class="fa-solid fa-pencil" style="margin-left: 10px;"></i>
						</a>
					</h4>
					<small style="margin-bottom: 10px;">Rédigé par
						{{ post.user.firstName ~ ' ' ~ post.user.lastName }}
						le
						{{ post.createdAt ? post.createdAt|date('d-m-Y à H:i') : '' }}
					</small>
					<p>
						<i class="fa-solid fa-quote-left" style="margin-right: 5px; vertical-align: top;"></i>
						{{ post.postContent }}
					</p>

					<p>
						{% for comment in post.comments %}
							<div class="comment-container">
								<small>Commenté par
									{{ comment.user.firstName ~ ' ' ~ comment.user.lastName }}
									le
									{{ comment.createdAt ? comment.createdAt|date('d-m-Y à H:i') : '' }}
									:
									<i class="fa-solid fa-quote-left"></i>
									{{ comment.commentContent }}<a href="{{ path('app_comments_edit', {'id': comment.id}) }}">
										<i class="fa-solid fa-pencil" style="vertical-align: middle; margin-bottom:"></i>
									</a>
								</small>
							</div>
						{% endfor %}
						<a href="{{ path('app_comments_new', {'postId': post.id}) }}">
							<i class="fa-regular fa-comment-dots" style="margin-right: 10px;"></i>Un commentaire ?</a>
					</p>
				{% endfor %}
			</section>
		{% endfor %}
	</main>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
