{% extends 'base.html.twig' %}

{% block title %}Association AMCA 44
{% endblock %}

{% block body %}
<main>

	<!--OUR STORY-->
	<section class="our-story">
        {% for presentation in presentations %}
        <div class="story-picture">
            <img src="{{ asset('uploads/images/' ~ presentation.presentationPicture) }}" alt="Photo des membres fondateurs" width="200px">
        </div>
        <div class="story-text">
            <h2>Notre histoire</h2>
            <p>{{ presentation.presentationContent }}</p>
        </div>
        {% endfor %}
    </section>

	<!--OUR PURPOSES-->
	<section class="our-purposes">
        <h2>Nos raisons d'être</h2>
        {% for purpose in purposes %}
        <div class="purpose">
            <p><strong>{{ purpose.purposeContent }}</strong></p>
        </div>
        {% endfor %}
    </section>

	<!--PREVIOUS TRIPS-->
	<section class="our-previous-trips">
        <h2>Petit aperçu de nos précédentes sorties</h2>
        <div class="previous-trip">
            {% for previous_trip in previous_trips %}
                <div class="previous-trip-picture">
                    <div id="carousel{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for picture in previous_trip.getPictures() %}
                                <div class="carousel-item{% if loop.first %} active{% endif %}">
                                    <img src="{{ asset('uploads/images/' ~ picture.picture) }}" class="d-block" alt="Photo de la sortie" width="200px" height="140px">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="previous-trip-text">
                    <h4>{{ previous_trip.previousTripName }}</h4>
                    <p>{{ previous_trip.previousTripContent }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

	<!--CONTACT-->
	<section class="contact-us">
		<p>Envie de nous rejoindre ?</p>
		<a href="{{ path('app_contacts_new') }}" class="btn btn-primary">Contactez-nous</a>
	</section>

</main>
{% endblock %}