{% extends 'base.html.twig' %}

{% block title %}Liste des adhérents
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section>
		{% include "_partials/_sidebar.html.twig" %}

		<div
			class="dashboard">
			<!--PENDING MEMBERS-->
			<h1>Liste des adhérents en attente</h1>

			<table>
				<thead>
					<tr>
						<th>N° d'adhérent</th>
						<th>Profil</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Téléphone</th>
						<th>Adresse</th>
						<th>Code postal</th>
						<th>Ville</th>
						<th>Date de naissance</th>
						<th>Moto</th>
						<th>Modifier</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						{% if user.status == 0 %}
							<tr>
								<td data-label="N° d'adhérent">{{ user.memberNumber }}</td>
								<td data-label="Profil">{{ user.assignment ? user.assignment|json_encode : '' }}</td>
								<td data-label="Prénom">{{ user.firstName }}</td>
								<td data-label="Nom">{{ user.lastName }}</td>
								<td data-label="Email">{{ user.email }}</td>
								<td data-label="Téléphone">{{ user.phoneNumber }}</td>
								<td data-label="Adresse">{{ user.address }}</td>
								<td data-label="Code postal">{{ user.postCode }}</td>
								<td data-label="Ville">{{ user.city }}</td>
								<td data-label="Date de naissance">{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</td>
								<td data-label="Moto">{{ user.bike }}</td>
								<td data-label="Modifier">
									<a href="{{ path('app_user_edit', {'id': user.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
							{% if not users|filter(user => user.status == 0)|length %}
								<tr>
									<td colspan="15">Aucun adhérent en attente</td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>

			<!--VALIDATED MEMBERS-->
			<h1>Liste des adhérents validés</h1>

			<button class="icon" onclick="printTable()">
				<i class="fas fa-print"></i>
			</button>

			<table id="dataTable">
				<thead>
					<tr>
						<th>N° d'adhérent</th>
						<th>Profil</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Téléphone</th>
						<th>Adresse</th>
						<th>Code postal</th>
						<th>Ville</th>
						<th>Date de naissance</th>
						<th>Moto</th>
						<th class="no-print">Modifier</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						{% if user.status == 1 %}
							<tr>
								<td data-label="N° d'adhérent">{{ user.memberNumber }}</td>
								<td data-label="Profil">{{ user.assignment ? user.assignment|json_encode : '' }}</td>
								<td data-label="Prénom">{{ user.firstName }}</td>
								<td data-label="Nom">{{ user.lastName }}</td>
								<td data-label="Email">{{ user.email }}</td>
								<td data-label="Téléphone">{{ user.phoneNumber }}</td>
								<td data-label="Adresse">{{ user.address }}</td>
								<td data-label="Code postal">{{ user.postCode }}</td>
								<td data-label="Ville">{{ user.city }}</td>
								<td data-label="Date de naissance">{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</td>
								<td data-label="Moto">{{ user.bike }}</td>
								<td data-label="Modifier" class="no-print">
									<a href="{{ path('app_user_edit', {'id': user.id}) }}" title="Modifier" data-bs-toggle="tooltip" data-bs-placement="right">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</td>
							</tr>
							{% if not users|filter(user => user.status == 1)|length %}
								<tr>
									<td colspan="15">Aucun adhérent validé</td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<script>
		// Function to print validated users' table
function printTable() {
let printWindow = window.open('', '_blank');
printWindow.document.write('<html><head><title>Liste des adhérents</title></head><body>');

// Version specific for printing with a class for the "Modify" column
let printableTable = document.getElementById('dataTable').cloneNode(true);
let rows = printableTable.getElementsByTagName('tr');

for (let i = 0; i < rows.length; i++) {
let cells = rows[i].getElementsByTagName('td');
if (cells.length > 0) { // Add a class to the last cell (Modify column)
cells[cells.length - 1].classList.add('no-print');
}
}

printWindow.document.write('<style>body { font-family: Arial, sans-serif; } .no-print { display: none; }');
printWindow.document.write('table { font-size: small; border-collapse: collapse; width: 80%; }');
printWindow.document.write('th { background-color: lightgrey; padding: 10px; }');
printWindow.document.write('td { border-bottom: 1px solid grey; padding: 10px; text-align: center; }</style>');

printWindow.document.write(printableTable.outerHTML);
printWindow.document.write('</body></html>');
printWindow.document.close();
printWindow.print();
}

// Function to display Datatables
$(document).ready(function () {
$('#dataTable').DataTable({
responsive: true,
language: {
"sSearch": "Chercher un adhérent :",
"sLengthMenu": "Afficher _MENU_ adhérents",
"sInfo": "Affichage des adhérents _START_ à _END_ sur _TOTAL_ adhérents",
"sInfoEmpty": "Aucun adhérent à afficher",
"sInfoFiltered": "(filtré de _MAX_ adhérents au total)",
"sZeroRecords": "Aucun adhérent trouvé",
"oPaginate": {
"sPrevious": "Précédent",
"sNext": "Suivant"
},
// ARIA attributes to enhance the accessibility of the table for users with specific needs
"oAria": {
"sSortAscending": ": activer pour trier la colonne par ordre croissant",
"sSortDescending": ": activer pour trier la colonne par ordre décroissant"
}
},
pagingType: "simple",
lengthMenu: [
10,
20,
40,
60,
80,
100
],
pageLength: 10,
"dom": '<"table-info"lf>tip'
});
});
	</script>
{% endblock %}
