{% extends 'base.html.twig' %}

{% block title %}Devenir membre{% endblock %}

{% block body %}
    <h1>Devenir membre</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Bulletin d'adhésion</th>
                <th>Cotisation conducteur</th>
                <th>Cotisation passager</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ membership.membershipForm) }}"></td>
                <td>{{ membership.driverFee }} euros</td>
                <td>{{ membership.passengerFee }} euros</td>
                <td>
                    <a href="{{ path('app_memberships_edit', {'id': membership.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_memberships_new') }}">Ajouter</a>
{% endblock %}
