{% extends 'base.html.twig' %}

{% block title %}
	{{ futureTrip.futureTripName }}
	- Association AMCA 44
{% endblock %}

{% block body %}
	<header class="headerShow">
		<img loading="lazy" class="logo-asso" src="{{ asset('images/logo-noir-transparent.webp') }}" alt="Logo de l'association">
		<h1>{{ futureTrip.futureTripName }}</h1>
		<h2>Du
			{{ futureTrip.startDate ? futureTrip.startDate|date('d-m-Y') : '' }}
			au
			{{ futureTrip.endDate ? futureTrip.endDate|date('d-m-Y') : '' }}</h2>
	</header>

	<main class="mainShow">
		<div class="showLeft">
			<img loading="lazy" src="{{ asset('uploads/' ~ futureTrip.futureTripPicture) }}" alt="Photo de la sortie">
			<div id="mapFutureTrip"></div>
		</div>
		<div class="showRight">
			<h3>{{ futureTrip.futureTripName }}</h3>
			<p style="font-weight: bold;">Budget à prévoir :
				{{ futureTrip.budget }}
				euros</p>
			<p style="font-weight: bold;">Nombre de places :
				{{ futureTrip.numberOfPlaces }}</p>
			<p style="padding: 30px;">{{ futureTrip.futureTripContent }}</p>
			{% if not app.user %}
				<small style="padding: 0px;">Les grandes sorties sont réservées aux membres de l'association.</small>
				<small>Pour y participer, toutes les infos sont ici
					<a href="{{ path('membership') }}">
						<i class="fa-solid fa-arrow-right"></i>DEVENIR MEMBRE</a>
				</small>
			{% endif %}
			{% if app.user %}
				{% if futureTrip.presentationSheet is not null %}
					<a href="{{ asset('uploads/' ~ futureTrip.presentationSheet) }}" download>
						<i class="fa-solid fa-download icon"></i>Télécharger la fiche de présentation</a>
				{% endif %}
				<small style="padding-top: 20px;">En tant que membre de l'association, vous pouvez envoyer votre demande d'inscription par e-mail à notre vice-président :</small>
				<a href="mailto:marcgallene@free.fr?cc=gaby.goyal@sfr.fr&subject=Demande%20d'inscription%20à%20la%20sortie%20{{ futureTrip.futureTripName|raw }}">
					<button class="button">S'inscrire</button>
				</a>
			{% endif %}
		</div>
	</main>
	{% include "_partials/_footer.html.twig" %}

	<script>
		// Display map for the specific future trip
let mapFutureTrip = L.map('mapFutureTrip').setView([
{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}
], 10);

let futureTripMarker = L.marker([{{ futureTrip.futureTripLon }}, {{ futureTrip.futureTripLat }}]).addTo(mapFutureTrip);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(mapFutureTrip);

futureTripMarker.bindPopup("Voyage prévu :      {{ futureTrip.futureTripName }}du      {{ futureTrip.startDate | date('d-m-Y') }}au                                                  {{ futureTrip.endDate | date('d-m-Y') }}");
	</script>
{% endblock %}
