{% extends 'base.html.twig' %}

{% block title %}Revue de presse
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section>
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<h1>Revue de presse</h1>
			<a class="button" href="{{ path('app_press_reviews_new') }}" width="284px">Ajouter un article</a>

			<div class="all-articles">
				{% for press_review in press_reviews %}
					<div class="articleCard">
						<div class="header">
							<h2>{{ press_review.pressReviewTitle }}</h2>
						</div>
						<div class="body">
							<div class="pic">
								<img loading="lazy" src="{{ asset('uploads/' ~ press_review.pressReviewPicture) }}" alt="Image de l'article de presse">
								<a href="{{ path('app_press_reviews_edit', {'id': press_review.id}) }}">
									<i class="fa-solid fa-pencil icon"></i>
								</a>
							</div>
							<div class="text">
								<p>{{ press_review.pressReviewDate ? press_review.pressReviewDate|date('Y-m-d') : '' }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
