{% extends 'base.html.twig' %}

{% block title %}Créer un adhérent{% endblock %}

{% block body %}
	<div class="loginForm">
		<h2>Créer un adhérent</h2>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<div class="bloc">
			<label for="inputEmail">Email</label>
        </div>
        <div class="bloc">
			{{ form_widget(registrationForm.email, {
            attr: {
                'id': 'email',
				'class': 'input'
            }
        }) }}
		</div>

		<div class="bloc">
			<label for="inputPassword">Mot de passe</label>
        </div>
        <div class="bloc">
			{{ form_widget(registrationForm.plainPassword, {
            attr: {
                'id': 'plainPassword',
				'class': 'input'
            }
        }) }}
		</div>

		<div class="bloc">
			<button type="submit" class="button">Valider</button>
		</div>

			{{ form_end(registrationForm) }}
	</div>
{% endblock %}