{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section>
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<h1>Messages reçus</h1>

			{% for contact in contacts %}
				<div class="receivedMessage">
					<div class="blocTitle">
						<p>
							<span>Expéditeur :</span>
							{{ contact.contactName }}</p>
						<p>
							<span>Email :</span>
							{{ contact.contactMail }}</p>
						<small>Reçu le
							{{ contact.createdAt ? contact.createdAt|date('d-m-Y à H:i') : '' }}</small>
					</div>
					<div class="blocMessage">
						<p>
							<span>Message :</span>
						</p>
						<p class="message">
							{{ contact.contactMessage }}</p>
					</div>
					<div class="blocActions">
						<a href="mailto:{{ contact.contactMail }}" title="Répondre" data-bs-toggle="tooltip" data-bs-placement="right">
							<i class="fa-solid fa-share icon"></i>
						</a>
						{{ include('contacts/_delete_form.html.twig') }}
					</div>
				</div>
			{% else %}
				<p>Aucun nouveau message</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
