{% extends 'base.html.twig' %}

{% block title %}Thèmes
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<main>
		<section class="row mr-0 ml-0" style="background-color:#343A40;">
			{% include "_partials/_sidebar.html.twig" %}

			<div class="col-md-10">
				<div class="row mr-0 ml-0">
					<h2>Thèmes</h2>

					<table class="table-responsive">
						<thead>
							<tr>
								<th>Titre du thème</th>
								<th>Modifier</th>
							</tr>
						</thead>
						<tbody>
							{% for theme in themes %}
								<tr>
									<td>{{ theme.themeTitle }}</td>
									<td>
										<a href="{{ path('app_themes_edit', {'id': theme.id}) }}">
											<i class="fa-solid fa-pencil"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">Donnée vide</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row mr-0 ml-0">
					<h2>Posts</h2>

					<table class="table-responsive">
						<thead>
							<tr>
								<th>Thème relié</th>
								<th>Titre du post</th>
								<th>Contenu</th>
								<th>Créé le</th>
								<th>Par</th>
								<th>Modifier</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								<tr>
									<td>{{ post.themes.themeTitle }}</td>
									<td>{{ post.postTitle }}</td>
									<td>{{ post.postContent }}</td>
									<td>{{ post.createdAt ? post.createdAt|date('d-m-Y à H:i') : '' }}</td>
									<td>{{ post.themes.user.firstName ~ ' ' ~ post.themes.user.lastName }}</td>
									<td>
										<a href="{{ path('app_posts_edit', {'id': post.id}) }}">
											<i class="fa-solid fa-pencil"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Donnée vide</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row mr-0 ml-0">
					<h2>Commentaires</h2>

					<table class="table-responsive">
						<thead>
							<tr>
								<th>Post relié</th>
								<th>Contenu</th>
								<th>Créé le</th>
								<th>Par</th>
								<th>Modifier</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								{% for comment in post.comments %}
									<tr>
										<td>{{ comment.post.postTitle }}</td>
										<td>{{ comment.commentContent }}</td>
										<td>{{ comment.createdAt ? comment.createdAt|date('d-m-Y à H:i') : '' }}</td>
										<td>{{ comment.user.firstName ~ ' ' ~ comment.user.lastName }}</td>
										<td>
											<a href="{{ path('app_comments_edit', {'id': comment.id, 'postId': post.id}) }}">
												<i class="fa-solid fa-pencil"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
