{% extends 'base.html.twig' %}

{% block title %}Prochaine réunion
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<main>
		<section class="row m-0">
			{% include "_partials/_sidebar.html.twig" %}

			<div class="col-md-10" id="dashboard">
				<h2>Prochaine réunion</h2>

				<table class="table-responsive">
					<thead>
						<tr>
							<th>Date et Heure</th>
							<th>Photo de la salle</th>
							<th>Adresse</th>
							<th>Longitude</th>
							<th>Latitude</th>
							<th>Description</th>
							<th>Modifier</th>
						</tr>
					</thead>
					<tbody>
						{% for meeting in meetings %}
							<tr>
								<td>{{ meeting.meetingDate ? meeting.meetingDate|date('d-m-Y à H:i') : '' }}</td>
								<td><img src="{{ asset('uploads/images/' ~ meeting.meetingPicture) }}" alt="Photo de la salle de réunion" width="200px"></td>
								<td>{{ meeting.meetingAddress }}</td>
								<td>{{ meeting.meetingLon }}</td>
								<td>{{ meeting.meetingLat }}</td>
								<td>{{ meeting.meetingContent }}</td>
								<td>
									<a href="{{ path('app_meetings_edit', {'id': meeting.id}) }}">
										<i class="fa-solid fa-pencil"></i>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">Donnée vide</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>
{% endblock %}
